body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 0 10%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

a {
    color: #007acc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
